body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0; /* Cor de fundo suave */
}

h1 {
  text-align: center;
  color: #060606; /* Cor do título */
  margin-bottom: 20px;
}

#pesquisa {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Ajusta a largura para melhor visualização */
}

#adicionar {
  background-color: #007bff; /* Azul claro */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* Estilização da tabela */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Linhas alternadas */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo para botões Editar e Excluir */
a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* Botão Editar */
a[href*="editar"] {
  background-color: #1284ff; /* Azul claro */
}

a[href*="editar"]:hover {
  background-color: #0056b3; /* Azul mais escuro */
}

/* Botão Excluir */
.excluir {
  background-color: #3498db; /* Azul calmo */
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.excluir:hover {
  background-color: #2980b9; /* Azul mais escuro */
}

/* Estilo para o formulário de cadastro */
#form-cadastro {
  display: none; /* Inicialmente oculto */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos de input do formulário */
#form-cadastro label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#form-cadastro input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botão de envio do formulário */
#form-cadastro button {
  background-color: #007bff; /* Azul claro */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Botão de cancelar no formulário */
#form-cadastro .btn-cancelar {
  background-color: #2980b9; /* Azul mais escuro */
  margin-top: 10px;
  width: 100%;
  padding: 10px 20px;
}
